<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style_reg.css">
    <title>Document</title>
</head>
<body>
    <h1 class="heading">CREATE A PLAYLIST!</h1>
    <form action="/playlist" method="POST">
        <input name="name" type="text" placeholder="enter username" />
        <input name="password" type="password" placeholder="enter password" />
        <input name="playlist" type="text" placeholder="name your playlist" />
        <button>Add playlist</button>
    </form>
</body>
</html>