* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    overflow: visible;
}

.main {
    display: flex;
    padding: 0.5rem;
}

.side-bar {
    background-color: black;
    width: 300px;
    margin-right: 0.5rem;
}

.main-content {
    flex: 1;
    border-radius: 1rem;
    overflow: hidden;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
}

a {
    text-decoration: none;
}

.nav {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6rem;
    padding: 0.5rem 0.75rem;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.75rem;
    padding: 0.5rem 0.75rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option {
    opacity: 0.7;
}

.lib-option:hover {
    opacity: 1;
}

.lib-option a {
    font-size: 1rem;
    margin-left: 0.5rem;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.1rem;
    display: flex;
}

.icons i {
    opacity: 0.7;
    margin-right: 0.5rem;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #232323;
    border-radius: 1rem;
    height: 8rem;
    margin: 1rem 0rem 1.5rem 0rem;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

.box-p1 {
    background-color: #232323;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.box-p2 {
    background-color: #232323;
    font-size: 0.9rem;
    opacity: 0.9;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}

.badge {
    background-color: white;
    border-radius: 100px;
    border: none;
    padding: 0.25rem 1rem;
    color: black;
    font-weight: 700;
    height: 2rem;
    width: fit-content;
}

.dark-badge {
    background-color: black;
    color: white;
}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.sticky-nav-options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.sticky-nav-options button {
    margin-right: 0.75rem;
}

@media (max-width:1000px) {
    .hide {
        display: none;
    }
}

.card {
    background-color: #232323;
    width: 9.375rem;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-right: 1rem;
}

h2 {
    margin-top: 1rem;
}

.cards-container {
    display: flex;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    background-color: #232323;
    font-weight: 600;
}

.card-info {
    background-color: #232323;
    opacity: 0.8;
    font-size: 0.70rem;
}

.nav-item-dropdown {
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown a:hover .dropdown-list {
    display: block;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: black;
    top: 30px;
    right: 0;
    width: 8.4rem;
    text-align: center;
    border: solid thin #ccc;
    border-radius: 5px;
    padding: 5px 0;
    z-index: 1;
}

.dropdown-list a {
    display: block;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.dropdown-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-list a:hover {
    background-color: #232323;
}

.dropdown-list .dropdown-options:hover {
    background-color: #232323;
}

.music-player {
    display: flex;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    justify-content: space-between;
    align-content: center;
}

.music-player-card {
    height: 4rem;
    width: 4rem;
}

.player-info {
    display: flex;
    align-items: center
}

.player-info-info {
    margin-left: 0.3rem;
    display: block;
}

.player-info-info .main {
    font-size: 0.8rem;
}

.player-info-info .sub {
    font-size: 0.7rem;
    opacity: 0.8;
}

.player-info-info .main:hover {
    text-decoration: underline;
}

.player-info-info .sub:hover {
    text-decoration: underline;
}

.add-to-liked {
    margin-left: 1rem;
    display: inline-block;
    position: relative;
}

.add-to-liked:hover {
    cursor: pointer;
}

.add-to-liked:hover .text1 {
    display: block;
}

.extra-text {
    display: none;
    position: absolute;
    bottom: 100%;
    background-color: black;
    color: #fff;
    border: solid thin #4f4f4f;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    font-size: 12px;
    width: max-content;
    opacity: 0.8;
}

.playing {
    width: 20rem;
    display: block;
}

.spotify-player {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.player-controls {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.player-controls:hover {
    cursor: pointer;
}

.time-display {
    font-size: 14px;
    color: #888;
    text-align: center;
}

.player-controls .shuffle:hover+.text2,
.player-controls .previous-song:hover+.text3,
.player-controls .Skip:hover+.text4,
.player-controls .Repeat:hover+.text5 {
    display: block;
}

.text2 {
    display: none;
    position: absolute;
    bottom: 100%;
    background-color: black;
    color: #fff;
    border: solid thin #4f4f4f;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    font-size: 12px;
    width: max-content;
    opacity: 0.8;
}

.text3 {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 25%;
    background-color: black;
    color: #fff;
    border: solid thin #4f4f4f;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    font-size: 12px;
    width: max-content;
    opacity: 0.8;
}

.text4 {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 25%;
    background-color: black;
    color: #fff;
    border: solid thin #4f4f4f;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    font-size: 12px;
    width: max-content;
    opacity: 0.8;
}

.text5 {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0%;
    background-color: black;
    color: #fff;
    border: solid thin #4f4f4f;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    font-size: 12px;
    width: max-content;
    opacity: 0.8;
}

.extra-features {
    padding-right: 2rem;
    width: 8rem;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
}

.top-main h1 {
    font-size: 60px;
}

.main_playlist {
    margin-top: 2rem;
}

.song-suggestions {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.song {
    width: 320px;
    height: 200px;
    background-color: #181717;
    border-radius: 24px;
    display: block;
    margin-bottom: 1rem;
}

.song:hover {
    cursor: pointer;
}

.song-image {
    width: 130px;
    border-radius: 24px;
    height: 130px;
    margin-right: 1rem;
}

.song-info h3 {
    margin-top: 0.5rem;
    background-color: #181717;
}

.song-info p {
    background-color: #181717;
}

.album {
    max-width: 600px;
    margin: 20px auto;
    background-color: #181717;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.album-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.album-cover {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}

.album-info {
    flex: 1;
}

.album-title {
    font-size: 24px;
    margin: 0;
}

.album-artist,
.album-year {
    margin: 5px 0;
    opacity: 0.8;
}

.songs-list {
    border-top: 1px solid #181717;
    padding-top: 20px;
}

.song-card {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #181717;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    /* Updated */
}

.song-info {
    flex-grow: 1;
    /* Updated */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    /* Added */
}

.song-title {
    margin: 0;
    color: #fff;
    /* Added */
    font-size: 16px;
    /* Updated */
}

.song-duration {
    font-size: 14px;
    color: #7b7b7b;
    margin-left: 10px;
    /* Added */
}

.song-image-song {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 5px;
    /* Added */
    margin-right: 10px;
    /* Added */
}